
.first{
    background-color: pink;
    border: 1px solid black;
    height: 170px;
    width: 300px;
    border-radius: 10px;
    margin-left: 40%;
    margin-top: 200px;
}
.second{
    background-color:red;
    border: 1px solid black;
    height: 100px;
    width: 220px;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 40px; 
}
.third{
    background-color:yellow;
    border: 1px solid black;
    height: 40px;
    width: 180px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    
}
.third p{
    padding-bottom: 20px;
}

